<!-- HTML partial display for showing error message cards -->

<div class="card border-dark mx-auto" style="max-width: 1000px;">
    <div class="card-header" style="background-color:#7fcf9d;">
        <strong style="color: red;">{{error}}</strong>
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title"><strong>{{head}}</strong></h5>
        <p class="card-text">{{message}} Go to <a href="/">home</a>.</p>
    </div>
</div>