<!-- HTML display for showing creating meme -->

<form action="/" method="post">
	<div class="mb-3">
		<label for="name" class="form-label">Meme Owner:</label>
		<input type="text" name="name" class="form-control" placeholder="Enter your full name" required>
	</div>
	<div class="mb-3">
		<label for="caption" class="form-label">Caption:</label>
		<input type="text" name="caption" class="form-control" placeholder="Be creative with the caption" required>
	</div>
	<div class="mb-3">
		<label for="url" class="form-label">Meme URL:</label>
		<input type="text" name="url" class="form-control" placeholder="Enter URL of your meme here" required>
	</div>
		<button type="submit" class="btn btn-success">Submit</button>
</form>